@import 'libs/bootstrap-reboot.min.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&family=Roboto:wght@500&display=swap');

@import 'base/mixsins';
@import 'base/variables';
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.cont {
    width: 1140px;
    margin: 0 auto;
}

@import 'blocks/promo';
@import 'blocks/title';
@import 'blocks/btn';
@import 'blocks/sidepanel';
@import 'blocks/hamburger';
@import 'blocks/menu';
@import 'blocks/aboutMe';
@import 'blocks/yellowline';
@import 'blocks/resume';
@import 'blocks/subjects';
@import 'blocks/pageup';
@import 'blocks/myWorks';
@import 'blocks/animation';
@import 'blocks/price';
@import 'blocks/contacts';

///////////////////////////////////////
/// 
/// MEDIA
/// 

@import 'blocks/media/about-media';
@import 'blocks/media/contacts-media';
@import 'blocks/media/menu-media';
@import 'blocks/media/myWorks-media';
@import 'blocks/media/price-media';
@import 'blocks/media/promo-media';
@import 'blocks/media/resume-media';
@import 'blocks/media/subjects-media';
@import 'blocks/media/hamburger-media';
@import 'blocks/media/title-media';
@import 'blocks/media/container-media';
@import 'blocks/media/line-media';

